# ==========================================
# PLANTILLA DE VARIABLES DE ENTORNO
# ==========================================

# Modo desarrollo (True para local, False para Producción)
DJANGO_DEBUG=True

# Conexiones permitidas (ej. * para desarrollo, o 192.168.1.100 para producción)
DJANGO_ALLOWED_HOSTS=*

# --- CLAVE SECRETA ---
# En desarrollo puedes dejar un texto cualquiera.
# EN PRODUCCIÓN DEBES GENERAR UNA NUEVA.
# Ejecuta este comando en la terminal del servidor para generar una:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=escribe_aqui_una_clave_secreta_para_produccion

# --- Credenciales de Base de Datos ---
DB_NAME=MerquenDB
DB_USER=tu_usuario_sql
DB_PASSWORD=tu_contraseña_segura
DB_HOST=localhost\SQLEXPRESS